#div1{
    border-top-left-radius:10px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px ;
    border-bottom-right-radius: 0px ;
    background: rgb(55, 177, 171);
    padding: 80px;
    width: 200px;
    height: 150px;
    text-align: center;
  }
  