.input-box{
  display: flex;
  height: 2.5em;
}

.input-binary{
  width: 11em;
  font-size: 1em;
}

.input-button{
  width: 7em;
  font-size: 1em;
  background-color: #fe9241;
  color: white;
  border: 0px solid white;
}

.outputResult{
  color: #fe9241;
}