#forma-da-bola1{
    background-color: #ee4433;
    float: left;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px;
    filter: brightness(100%);
    animation: blinker 1s ;
}

#forma-da-bola2{
    background-color: #FB9B47;
    float: left;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px;
    filter: brightness(100%);
    animation: blinker 1s ;
    animation-delay: 2s;
    
    
}

#forma-da-bola3{
    background-color: #F9F464;
    float: left;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px;
    filter: brightness(100%);
    animation: blinker 1s ;
    animation-delay: 3s;
}

#forma-da-bola4{
    background-color: #3DC583;
    float: left;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px;
    filter: brightness(100%);
    animation: blinker 1s ;
    animation-delay: 4s;
    
}

#forma-da-bola5{
    background-color: #4AADF1;
    float: left;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px;
    filter: brightness(100%);
    animation: blinker 1s ;
    animation-delay: 5s;
}

#forma-da-bola6{
    background-color: #1B3DA9;
    float: left;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px;
    filter: brightness(100%);
    animation: blinker 1s  ;
    animation-delay: 6s;
    
    
}

#forma-da-bola7{
    background-color: #984593;
    float: left;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px;
    filter: brightness(100%);
    animation: blinker 1s;
    animation-delay: 7s;
}
@keyframes blinker {
    from { opacity: 0.0; }
    to { opacity: 1.0; }
    
}



